---
import logo from './logo-circle.png';
import CtaButton, { type CtaButtonTypes } from '../CtaButton.astro';
import MobileMenu from './mobile.astro';

export type MenuItem = {
  type: CtaButtonTypes;
  label: string;
  pathname: string;
  newWindow?: boolean;
}

export const menuItems: MenuItem[] = [{
  type: "ghost",
  label: "platform",
  pathname: "/#how-it-works"
}, {
  type: "ghost",
  label: "insights",
  pathname: "/insights"
}, {
  type: "ghost",
  label: "contact",
  pathname: "mailto:help@plyaz.co.uk",
}, {
  type: "primary",
  label: "Join Us",
  pathname: "https://community.plyaz.co.uk/",
  newWindow: true
}];
---

<nav class="hidden md:block max-w-[800px] h-[80px] m-auto bg-tertiary/20 rounded-full my-10">
  <ul class="font-primary font-medium text-primary-foreground inline-flex flex-row text-base uppercase mx-3 gap-0 md:gap-5 align items-center h-full">
    <li class="flex">
      <a class="inline-block w-[56px] h-[56px]" href="/">
        <img class="w-auto" src={logo.src} alt="plyaz logo">
      </a>
    </li>
    {
      menuItems.map(menuItem => (
        <li class="flex">
          <CtaButton
            type={menuItem.type}
            label={menuItem.label}
            pathname={menuItem.pathname}
            newWindow={menuItem.newWindow}
          />
        </li>
      ))
    }
  </ul>
</nav>

<div class="block md:hidden h-0 mb-20 mt-10">
  <div class="fixed w-[calc(100%-40px)] z-50 left-1/2 -translate-x-1/2 max-w-128">
    <MobileMenu menuItems={menuItems} />
  </div>
</div>