---
import Card from './card.astro';
import type { Props as Item } from './card.astro';

interface Props {
  id?: string;
  extended: boolean;
  items: Item[];
  className?: string;
}

const { id, extended, items, className } = Astro.props;
---

<div id={id} class=`w-full xl:w-[75rem] md:w-[50rem] m-auto my-10 md:my-20 grid-container grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 place-items-center ${className}`>
  {
    items.map((item, index) => (
      <div class={`relative ${index === 0 && extended ? 'md:col-span-2 col-span-1 md:w-[50rem] w-[25rem] h-[25rem]' : 'w-[25rem] h-[25rem]'}`}>
        <Card
          type={item.type}
          topTitle={item.topTitle}
          bottomTitle={item.bottomTitle}
          description={item.description}
          extended={extended}
          ctaLabel={index === 0 ? item.ctaLabel : ''}
          showSignature={item.showSignature}
          label={item.label}
          pathname={item.pathname}
        />
      </div>
    ))
  }
</div>