---
import CtaButton from "../CtaButton.astro";
import logo from "./logo-ticket.png";
import iconX from "./icon-x.svg";
import iconCut from "./icon-cut.svg";
import qrcode from "./qr-community.png";
---
<div class="w-full max-w-[1200px] m-auto h-auto bg-secondary grid md:grid-cols-[8fr_1px_4fr] grid-cols-1 my-10 md:my-20 relative">
  <div data-name="column-a" class="relative flex items-end p-5 md:p-10 md:pt-8 md:pl-14 order-3 md:order-1">
    <div class="h-auto flex flex-col w-full">
      <div data-name="titles" class="flex flex-col pb-4 w-full">
        <h2>
          <span class="block font-semibold text-6xl text-foreground tracking-[-0.1rem]">Be part of</span>
        </h2>
        <h2 class="flex flex-row gap-2">
          <span class="block font-semibold text-6xl text-foreground tracking-[-0.1rem]">the</span>
          <span class="font-secondary font-semibold text-6xl italic text-foreground tracking-[-0.14rem]">Comeback</span>
        </h2>
      </div>
      <div data-name="description" class="flex flex-col gap-2 pb-12">
        <p class="text-lg text-foreground/70 font-light">Back real players chasing their second chance. <br>Every contribution supports training, travel, and opportunity.</p>
        <p class="text-xs font-medium text-accent-foreground">*All player campaigns are verified before launch.</p>
      </div>
      <CtaButton
        label="Back a Player"
        type="secondary"
        className="self-start"
        pathname="https://community.plyaz.co.uk/"
        newWindow={true}
      />
    </div>
  </div>
  <div data-name="column-b" class="inline-block relative h-[1px] md:w-[1px] w-full md:h-full border-dashed border-border-subtle/50 border-b-[1px] md:border-l-[1px]  order-2">
    <img class="absolute left-5 bottom-[-10px] rotate-90 md:rotate-none md:bottom-5 md:left-[-10px] w-[20px] max-w-none max-h-none" src={iconCut.src} alt="icon scissors">
  </div>
  <div data-name="column-c" class="relative flex items-end p-10 pt-8 justify-center order-1 md:order-3">
    <div class="text-center">
      <img class="mb-9 h-10" src={logo.src} alt="Plyaz">
      <div class="flex-col text-center">
        <p class="text-xs font-medium text-foreground uppercase mb-[-6px]">NEW ERA OF SPORTS</p>
        <img class="inline w-3 h-3" src={iconX.src} alt="icon x">
        <p class="text-xs font-medium text-foreground uppercase mt-[-2px]">Empowering athletes</p>
      </div>
      <img class="inline h-[10rem] mt-8" src={qrcode.src} alt="QR code">
    </div>
  </div>
</div>
