---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Tag from "../Tag.astro";

export interface Props {
  title: string;
  author: string;
  description?: string;
  poster: ImageMetadata;
  tags?: string[];
}

const {
 title,
 author,
 description,
 poster,
 tags,
} = Astro.props;
---

<div data-name="news-card" class="flex flex-col w-full h-auto gap-2">
  <div data-name="poster" class="w-full h-auto bg-amber-100">
    <Image
      src={poster}
      alt={title}
      width={480}
      quality={80}
    />
  </div>
  <div data-name="card-contents" class="h-auto flex flex-col gap-4">
    <div data-name="news-title" class="flex flex-col">
      <div class="flex flex-col gap-0">
        <h2 class="text-4xl font-semibold">{title}</h2>
        <p class="text-lg text-accent-foreground">By {author}</p>
      </div>  
      <p class="text-lg">{description}</p>
    </div>
    <div data-name="tags" class="flex flex-row gap-2">
      {
        Array.isArray(tags)
        && tags.length > 0
        && tags.map(tag => (
          <Tag value={tag} />
        ))
      }
    </div>
  </div>
</div>

