---
import PostCard from '../PostCard/index.astro';
import type { CollectionEntry } from 'astro:content';

type NewsItem = CollectionEntry<'news'>;

interface Props {
  items: NewsItem[];
}

const { items } = Astro.props;
---

<div class="mx-10 mb-64">
  <div data-name="blog-header" class="w-full pb-10">
    <h2>
      <span class="font-semibold text-6xl tracking-[-0.1rem] pr-2">Our</span>
      <span class="font-secondary text-6xl font-semibold italic tracking-[-0.14rem] pr-2">latest</span>
      <span class="font-semibold text-6xl tracking-[-0.1rem">stories</span>
    </h2>
    <p class="text-lg mt-2 text-secondary-foreground">Discover the latest trends, insights, and news in sports investment and athlete empowerment.</p>
  </div>
  <div data-name="card-grids" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    {
      items.map((post) =>
        <a href={`/news/${post.id}`}>
          <PostCard 
            title={post.data.title}
            author={post.data.author}
            description={post.data.description}
            poster={post.data.poster}
            tags={post.data.tags}
          />
        </a>
      )
    }
  </div>
</div>