---
import MainLayout from "../../layouts/MainLayout.astro";
import chevionLeft from "./chevron-left.png";
import Tag from "../../components/Tag.astro";
import PostCard from "../../components/PostCard/index.astro";
import { toAttributeString } from "astro/runtime/server/render/util.js";

const post = {
  title: "Tokenizing Declan Rice’s free-kick masterclass",
  author: "Lucas Lee",
  poster: './foobar.png',
  tags: ['News', 'Football']
}
---

<MainLayout>
  <div class="w-full max-w-[800px] h-auto flex flex-col items-left m-auto gap-10 mt-6 mb-16 px-5">
    <a href="/news">
      <div data-class="return-page" class="flex flex-row gap-2">
        <img src={chevionLeft.src} alt="chevion left icon" class="w-5 h-5 pt-1">
        <p class="text-base uppercase">Back</p>
      </div>
    </a>
    <div data-name="title-section" class="flex flex-col gap-5">
      <div class="flex flex-col gap-1">
        <h1 class="text-4xl xl:text-6xl font-semibold">{post.title}</h1>
        <p class="text-lg text-accent-foreground">By {post.author}</p>
      </div>
      <div data-name="tags" class="flex flex-row gap-2">
        {
          post.tags.map(value => (
            <Tag value={value} />
          ))
        }
      </div>
    </div>
    <div>
      <img src="" alt="" class="bg-amber-100 w-full h-auto aspect-16/9">{post.poster}
    </div>
  </div>
</MainLayout>