---
interface Props {
  type: "main" | "child" | "empty";
  topTitle: string;
  bottomTitle: string;
  className?: string;
}

const { type, topTitle, bottomTitle, className } = Astro.props;
---

<div class={className}>
  {
    type === 'main'
    ? (
      <h2 class="pt-5 pl-10">
        <span class="font-semibold text-6xl tracking-[-0.1rem] pr-2 capitalize">{topTitle}</span>
        <span class="font-secondary font-semibold italic tracking-[-0.14rem] text-6xl capitalize">{bottomTitle}</span>
      </h2>
    )
    : (
      <div class="flex flex-col">
        <p class="text-4xl font-medium text-fg-secondary pt-8 pl-10">{topTitle}</p>
        <p class="absolute bottom-4 right-0 font-secondary italic text-[12.65rem] tracking-[-0.74rem] text-neutral-300 opacity-30 leading-[0.92] pb-5 pr-6">{bottomTitle}</p>
      </div>
    )
  }

  <div data-name="pseudo-border-box" class="absolute top-0 left-0 w-[calc(100%+1px)] h-[calc(100%+1px)] -z-1">
    <div class="absolute w-full h-full vertical-psuedo-border"></div>
    <div class="absolute w-full h-full horizontal-psuedo-border"></div>
  </div>
</div>